<div class="logo">
  <img src="./assets/flashforge.webp" />

  <br />
  <p class="subtitle">Flashforge Web Monitor</p>
</div>

<div class="wrapper">
  <div class="stream-side" *ngIf="!!printerStatus">  
    <img *ngIf="isStreaming" alt="Camera Stream" class="camera-stream" [attr.src]="'http://' + printerAddr + '/?action=stream'" (error)="isStreaming = false"/>
  </div>

  <div class="info-side">
    <p>Connection Status: {{ connectionStatus }}</p>

    <div *ngIf="!!printerStatus">
      <p>Printer Status: {{ printerStatus }}</p>
      <p>Extruder Temperature: {{ extruderTemperature }}</p>

      <div class="print-progress" *ngIf="!!printProgress">
        <p>Print Progress: {{ printProgress / 10 }}%</p>
        <progress max="1000" [value]="printProgress" class="progress"></progress>
      </div>
    </div>
  </div>
</div>