<div class="logo">
  <img src="./assets/flashforge.webp" />
</div>

<br /> <br />

<img class="stream-size" [attr.src]="'http://' + printerAddr + '/?action=stream'" *ngIf="!!printerStatus" />

<br /><br />

<p>Connection Status: {{ connectionStatus }}</p>
<div *ngIf="!!printerStatus">
  <p>Printer Status: {{ printerStatus }}</p>
  <p>Extruder Temperature: {{ extruderTemperature }}</p>
  <p *ngIf="!!printProgress">
    Print Progress: <ng-container>{{ printProgress / 10 }}%</ng-container>
  </p>
  <progress max="1000" [value]="printProgress" class="progress"></progress>
</div>